<legend>New Participant</legend>

<form action="/trips/{{trip.id}}/participants" method="post">
  <p>Add a participant!</p>
  <input type="text" name="name" id="participant-name" placeholder="Name" autocomplete="off" required>
  <input type="text" name="phone" id="participant-phone" placeholder="Phone" autocomplete="off" required>
  <input type="text" name="address" id="participant-address" placeholder="Address" autocomplete="off" required>

  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
