<div>
  <legend>New Participant</legend>

  <form action="/trips/{{trip.id}}/participants" method="post">
    <input class="input-txt" type="text" name="name" id="participant-name" placeholder="Name" autocomplete="off" required>
    <input class="input-txt" type="text" name="phone" id="participant-phone" placeholder="Phone" autocomplete="off" required>
    <input class="input-txt" type="text" name="address" id="participant-address" placeholder="Address" autocomplete="off" required>
    <br></br>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

  <a href="/trips/{{trip.id}}"><button class="btn btn-primary back-btn">Back</button>
</div>
