<div class="parallax text-center container-fluid">
    <h1 class="title" id="center">CarpoolBuddy</h1>
    <br></br>
      <div class="tagline">
          A
          <span class="typer" id="main" data-words="simpler, smarter, time saving, faster" data-colors="black" data-delay="100" data-deleteDelay="1000"></span>
          <span class="cursor" data-owner="main"></span>
           way to carpool
      </div>
      <br></br>
      {{# if currentUserId}}
      <a href="/trips">
          <button class="btn btn-primary">Go To Profile</button>
      </a>
      {{else}}
      <a href="/users/new">
          <button class="btn btn-primary">Get Started</button>
      </a>
      {{/if}}
</div>

  <div class="section second container-fluid">
    <div class="section right">
      <div class="section reviews">
        <ul>
          <li class="list-item item1">
            <p>"This is one of the best things I've ever used in my life. My friends are so happy that I'm not late anymore."</p>
            <p style="display: flex;justify-content: flex-end;">- Diana</p>
          </li>
          <li class="list-item item2">
            <p>"This website has changed my commute to school for the better! Now I'm never late to being picked up."</p>
            <p style="display: flex;justify-content: flex-end;">- Ethan</p>
          </li>
          <li class="list-item item3">
            <p>"Great features, easy to use and very good looking. I'm a big fan of the monochrome aesthetic."</p>
            <p style="display: flex;justify-content: flex-end;">- Natalie</p>
          </li>
          <li class="list-item item4">
            <p>"This website saved me from being stuck in unnecessary traffic."</p>
            <p style="display: flex;justify-content: flex-end;">- Patrick</p>
          </li>
        </ul>
      </div>
    </div>
