<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
      <div>
        <a href="/">Carpool Buddy</a>
      </div>

      <div>
        <a href="/login">log in</a>
      </div>
    </nav>
  <body>
    {{{body}}}
  </body>
</html>
