<form action="/login" method="post">
  <legend>Log in</legend>

  <div>
    <input type="text" name="username" id="user-username" placeholder="username">
  </div>

  <div>
    <input type="password" name="password" id="user-password" placeholder="password">
  </div>

  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p>Don't have an account? <a href="/users/new" style="font-weight: bold">Sign Up</a></p>
  </div>
</form>
