<form action="/login" method="post">
    <div id="center" class="d-flex justify-content-center">
        <div class="text-center">
            <legend>Log in</legend>

            <div class='group'>
                <input type="text" name="username" id="user-username">
                <label for="input" class="control-label">Username</label><i class="bar"></i>
            </div>
            <div class='group'>
                <input type="password" name="password" id="user-password">
                <label for="input" class="control-label">Password</label><i class="bar"></i>
            </div>
            <div class = "center2">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div>
                    <p>Don't have an account?
                        <a href="/users/new" style="font-weight: bold">Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    document.querySelector('.group input').addEventListener('blur', (e) => {
        e.target.value ? e.target.classList.add("has-value") : e.target.classList.remove("has-value");
    });
    window.onload = () => {
        var inputs = document.querySelector('.group input');
        for(let input of inputs) {
            console.log(input);
            input.value ? input.classList.add("has-value") : input.classList.remove("has-value");
            if(input.value)
                console.log('has-value')
            else 
                console.log('not')
        } 
    }
</script>