<form action="/login" method="post">
  <legend>Log in</legend>

  <div>
    <label for="user-username">Username</label>
    <input type="text" name="username" id="user-username" placeholder="username">
  </div>

  <div>
    <label for="user-password">Password</label>
    <input type="password" name="password" id="user-password" placeholder="password">
  </div>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>
