body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
  /* #FFF7D7; */
}

a {
  text-decoration: none;
}

.pagetop {
  display: flex;
  justify-content: space-between;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 50px;
  align-items: center;
  padding: 2.5px 10px 2.5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: solid #efefef 1.5px;
}

.title {
  margin-right: auto;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  margin-right: .1em;
}

.group {
  position: relative;
  margin: 2rem;
}

.group .control-label:before,
.group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  left: 0;
}

.group input {
  height: 1rem;
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.3rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}

.group input:focus,
.group input:valid,
.group input.has-value {
  color: #333;
}

.group input:focus~.control-label,
.group input.has-value~.control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}

.group input:focus {
  outline: none;
}

.group input:focus~.control-label {
  color: #337ab7;
}

.group input:focus~.bar::before {
  width: 100%;
  left: 0;
}

.group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}

.group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}

.group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #0af;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}

#center {
  padding-top: 150px;
}

#center div {
  padding-top: 10px;
}

#center .center2 {
  padding-top: 40px;
}
