body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
  /* #FFF7D7; */
}

a {
  text-decoration: none;
}

.pagetop {
  display: flex;
  justify-content: space-between;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 60px;
  align-items: center;
  padding: 2.5px 10px 2.5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: solid #efefef 1.5px;
}

.username {
  margin-right: 1em;
}

.title {
  margin-right: auto;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  margin-right: .1em;
}

.group {
  position: relative;
  margin: 2rem;
}

.group .control-label:before,
.group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  left: 0;
}

.group input {
  height: 1rem;
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.3rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}

.group input:focus,
.group input:valid,
.group input.has-value {
  color: #333;
}

.group input:focus~.control-label,
.group input.has-value~.control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}

.group input:focus {
  outline: none;
}

.group input:focus~.control-label {
  color: #337ab7;
}

.group input:focus~.bar::before {
  width: 100%;
  left: 0;
}

.group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}

.group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}

.group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #0af;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}

#center {
  padding-top: 150px;
}

#center div {
  padding-top: 10px;
}

#center .center2 {
  padding-top: 40px;
}

/* Index page */
.typer, .title {
  color: white!important;
  font-weight: bold!important;
}

.tagline {
  font-size: 1.5em;
}

.parallax {
  background-image: linear-gradient(#007BFF, #96cde0);
  min-height: 500px;
  width: 100vw;
  margin-top: -2em;
  margin-bottom: 2em;
  margin-left: calc(-50vw + 50% - 8px);
  position: relative;
  color: white;
}

.section.second {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 100px 0 0;
}

li.list-item {
  padding: 30px 60px;
  width: 40em;
  margin: 10px;
  list-style-type: none;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

li.item1, li.item3 {
  background-color: #e0e0e0;
  color: #007BFF;
}

li.item2, li.item4 {
  background-color: #e5e5e5;
  color: #0af;
}

li.list-item-img {
  list-style-type: none;
  margin: 10px -60px 15px 80px;
}

.section.left {
  flex-direction: column;
  justify-content: center;
}

/* Participants */
.card {
  margin: 1em;
  border: none;
}

.trips, .participants {
  display: flex;
  justify-content: center;
}

.add {
  margin-top: 2em;
  position: absolute;
  left:50%;
  transform: translate(-50%,-50%);
}

.back-btn {
  position: fixed;
  bottom: 2em;
  left: 2em;
}

.input-txt {
  background-color:white;
  border: 0px solid;
  border-bottom: 2px solid #ddd;
  padding: .5em;
  margin-bottom: .5em;
}

.input-txt:focus {
  outline:none;
}
