<div>
  <form action="/users" method="post">
    <legend>New User</legend>

    <div>
      <label>Username</label>
      <input type="text" name="username" id="user-username" placeholder="Username">
    </div>

    <div>
      <label for="user-password">Password</label>
      <input type="password" name="password" id="user-password" placeholder="Password">
    </div>

    <div>
      <button type="submit">Submit</button>
    </div>
    
  </form>
</div>
