<div>
  <form action="/users" method="post">
    <legend>New User</legend>

    <div>
      <label>Username</label>
      <input type="text" name="username" id="user-username" placeholder="Username">
    </div>

    <div>
      <label for="user-password">Password</label>
      <input type="password" name="password" id="user-password" placeholder="Password">
    </div>

    <div>
      <input class="form" type="password" required id="confirm_password" placeholder="Confirm Password" autocomplete="off">
    </div>

    <script>
      var password = document.getElementById("user-password");
      var confirm_password = document.getElementById("confirm_password");

      function validatePassword(){
        if(password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
          confirm_password.setCustomValidity('');
        }
      }
      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;
    </script>

    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>
</div>
