<h1>My Trips</h1>

<div>
  {{#each trips as |trip|}}
    <a href="/trips/{{trip.id}}">{{trip.title}}</p>
  {{/each}}
</div>

<a href = "/trips/new"><button class="btn btn-primary">New Trip</button></a>
