  <h1>My Trips</h1>

  <div>
    {{#each trips as |trip|}}
      <a href="/trips/{{trip.id}}">{{trip.title}}</a>
    {{/each}}
  </div>
  <br></br>
  <a href = "/trips/new"><button class="btn btn-primary">New Trip</button></a>
</div>
