<div>
  <form action="/trips" method="post">
    <legend>New Trip</legend>

    <div>
      <label>Title</label>
      <input type="text" name="title" id="trip-title" placeholder="Title" autocomplete="off" required>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
