<div>
  <form action="/trips" method="post">
    <legend>New Trip</legend>

    <div>
      <label>Title</label>
      <input type="text" name="title" id="trip-title" placeholder="Title">
    </div>

    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
