<div>
  <form action="/trips" method="post">
    <legend>New Trip</legend>

    <div>
      <p>Add a title and then press enter!</p>
      <input type="text" name="title" id="trip-title" placeholder="Title" autocomplete="off" required>
    </div>

    <div>
      <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
      <input type="submit" style="display: none"></input>
    </div>
  </form>
</div>
